@import "mainstyle";

/*****Contenido*****/
@media (max-width: 360px) {
  .navbar {
    .nav-item {
      margin: 0.625 !important;
    }
  }
  .main__sect1 {
    .carousel {
      .carousel-caption {
        width: 320px;
        left: 5%;
      }
    }
  }
}
.main__sect1 {
  text-align: center;
  .carousel_inner-img {
    object-fit: fill;
    margin-top: 0rem;
    display: block;
    align-items: center;
    height: 100vh;
    opacity: 0.8;
  }
  .carousel-caption {
    width: 350px;
    z-index: 10;
    color: #fff;
    text-shadow: 2px 3px 20px black;
    text-align: center;
    top: 50%;
    left: 15%;
    bottom: initial;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}