body {
    background-image: repeating-linear-gradient(to right, #accbee 0%, #e7f0fd 100%);
    color: midnightblue;
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px;
    /*****Header*****/
    header {
        position: sticky;
        top: 0;
        z-index: 10;
        background: inherit;               
        .main__header {        
          background-image: linear-gradient(to left, #30cfd0 0%, #330867 100%);        
            .nav-item {
              font-size: 22px;                
            }
        }
    }
    /*****Contenido*****/ 
    @media screen and (min-width:1px) and (max-width:479px) {        
        #inst_cont {
            #inst_tit {
                font-size: 2rem !important;                
            }
            #inst_tit-p {
                font-size: 1rem !important;
            }
        }
    }
    @media screen and (min-width: 1023px) and (max-width:1024px) {        
        .grid_container {
            p { 
                font-size: 0.9rem !important;
            }
            .col { 
                padding: 15px !important;
                margin: 0 !important;
            }
            .row { 
                padding: 0 !important;
                margin: 0 !important;
            }
            img {
                width: auto;
                height: 100%;
            }
        }        
    }

    #inst_cont {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 1.5rem;                                  
        .grid_container {
            row-gap: 40px;
            column-gap: 40px;
        }        
        #inst_tit {            
            font-size: 3em;            
        }
        #inst_tit-p {
            font-style: italic;            
            font-weight: bold;
            font-size: 2em;
            margin-bottom: 4%;
        }              
    }
    /*****Footer*****/
    .main__footer {
        background-image: repeating-linear-gradient(
          to right,
          rgb(12, 3, 95),
          rgb(96, 154, 192),
          white
        );
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 60px;
        #foot__Bar {
          display: flex;
          flex-wrap: nowrap;
          width: min-content;
          margin-right: 20px;
          margin-top: 15px;
          float: right;
          img {
            height: 30px;
            width: 30px;
            margin-right: 30px;
          }
        }
      }
}