body {
  background-color: rgb(22, 102, 120);
  #logContainer {
    display:flex;
    position:relative;
    padding: 8px 0 0 12px;
  }
  .mainbox {
    background-color: rgb(22, 102, 120);
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
    .err {
      color: #ffffff;
      font-family: "Nunito Sans", sans-serif;
      font-size: 11rem;
      position: absolute;
      left: 20%;
      top: 8%;
      text-shadow: 1px 1px 3px black;
    }
    .far {
      position: absolute;
      font-size: 8.5rem;
      left: 42%;
      top: 15%;
      color: #ffffff;
      text-shadow: 1px 1px 3px black;
    }
    .err2 {
      color: #ffffff;
      font-family: "Nunito Sans", sans-serif;
      font-size: 11rem;
      position: absolute;
      left: 68%;
      top: 8%;
      text-shadow: 1px 1px 3px black;
    }
    .msg {
      color: #ffffff;
      text-align: center;
      font-family: "Nunito Sans", sans-serif;
      font-size: 1.5rem;
      position: absolute;
      left: 16%;
      top: 45%;
      width: 75%;
      text-shadow: 1px 1px 3px black;
    }
    a {
      text-decoration: none;
      color:  rgb(125, 185, 179);
    }
    a:hover {
      text-decoration: underline;
    }
      h3 {
        font-style: italic;
      }
    
  }
}
