@import "mainstyle";

/*****Contenido*****/
@media screen and (min-width: 1px) and (max-width: 479px) {
  #serv_cont {
    #serv_tit {
      font-size: 2rem !important;
    }
    #serv_tit-p {
      font-size: 1rem !important;
    }
  }
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.card {
  margin-bottom: 40px;
}
.modal-body p {
  font-style: italic;
  padding: 15px 15px 15px 15px;
}
